/* CSS variables */
:root {
  --primary-color: #f6f0fa; /* Açık arka plan */
  --secondary-color: rgb(58, 26, 86); /* Koyu mor */

  --accent-color: #774296; /* Ara ton (hover, buton için) */
  --card-color: #dbc6f2; /* Kartlar */

  --accent-hover-color: #9255b1; /* Ara ton (hover, buton için) */

  --text-color: #ffffff;
  --text-dark: #2e1342;
  --font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-family);
  text-align: center;
}

header {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 2rem 5%;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--accent-hover-color);
}

.btn-alt:hover {
  background-color: var(--secondary-color);
  border-color: transparent;
  color: var(--text-color);
}
